<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>

    <main class="main-login-cad">
        <div class="banner-login">
            <h1><a href="/"><img src="https://i.ibb.co/KVZRVhw/logov4-preto.png" alt="logo-em-obra"
                        class="logo-header"></a></h1>
            <h3>Facilitando conexões, <br>concretizando projetos.</h3>
        </div>

        <div class="login-container">
            <div class="form-login">
                <h1>Login</h1>

                <!-- Mensagem de ativação -->
                <div id="message" class="alert alert-info" style="display: none;"></div>

                <form action="/auth" method="POST">
                    <div class="input-control-login">
                        <label for="identifier" class="text">CPF</label>
                        <input type="text" id="identifier" name="identifier" placeholder="Digite seu email ou CPF"
                            required class="input">
                    </div>

                    <div class="input-control-login">
                        <label for="senha" class="text">Senha</label>
                        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required
                            class="input">
                    </div>

                    <div class="manter-conectado">
                        <div>
                            <input type="checkbox" id="conectado" name="conectado">
                            <label for="conectado">Manter-se conectado</label>
                        </div>
                    </div>

                    <button type="submit" class="botao-entrar">Entrar</button>
                </form>

                <div>
                    <a href="/register" class="outras-acoes-login">Cadastre-se</a>
                    <a href="#" class="outras-acoes-login">Esqueceu sua senha?</a>
                </div>
            </div>
        </div>

    </main>

    <script>
        // Captura a mensagem da URL
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');
        if (message) {
            const messageDiv = document.getElementById('message');
            messageDiv.innerText = message;
            messageDiv.style.display = 'block';
        }
    </script>
</body>

</html>
