<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postar Serviço</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="global-nav">
            <a href="/"><img src="https://i.ibb.co/KVZRVhw/logov4-preto.png" alt="logo-em-obra" class="logo-header"></a>
            <div class="conexao-global">
                <% if (isAuthenticated) { %>
                    <span><a href="/logout">Sair</a></span>
                <% } else { %>
                    <span><a href="/register">Cadastrar</a></span>
                    <button><a href="/login">Entrar</a></button>
                <% } %>
            </div>
        </nav>
    </header>
    
    <h1>Postar um Novo Serviço</h1>
    <form action="/postar-servico" method="POST">
        
    
        <label for="tipo_servico">Tipo de Serviço:</label>
        <select id="tipo_servico" name="tipo_servico" required>
            <% tipos_servicos.forEach(servico => { %>
                <option value="<%= servico.id %>"><%= servico.nome_servico %></option>
            <% }); %>
        </select>
    
        <label for="cep">CEP:</label>
        <input type="text" id="cep" name="cep">
    
        <label for="prazo_combinar">Prazo a Combinar:</label>
        <input type="text" id="prazo_combinar" name="prazo_combinar" required>
    
        <label for="valor">Valor:</label>
        <input type="number" id="valor" name="valor" required>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required></textarea>
    
        <button type="submit">Postar Serviço</button>
    </form>

    <!-- Botões de editar e deletar conta -->
    <div class="conta-acoes">
        <div class="editar-perfil">
            <span><a href="/editar-conta" class="outras-acoes-login">Editar conta</a></span>
        </div>

        <div class="excluir-perfil">
            <span><a href="#" id="delete-account" class="outras-acoes-login">Deletar conta</a></span>
        </div>
    </div>

    <script>
        // Adiciona ouvinte de evento para a exclusão da conta
        document.getElementById('delete-account').addEventListener('click', function(event) {
            event.preventDefault(); // Impede o comportamento padrão do link
            const confirmation = confirm("Você tem certeza que deseja deletar sua conta? Esta ação não pode ser desfeita.");
            if (confirmation) {
                // Redireciona para a URL de exclusão da conta
                window.location.href = "/excluir";
            }
        });
    </script>
    
</body>
</html>
