<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Foto de Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/fa60e4fa16.js" crossorigin="anonymous"></script>

</head>

<body>
    <h2>teste card</h2>
    <a href="/#sobre-nos">Ir pra lá</a>

    <form class="super-container">
        <div class="container-servico-top">
            <div class="background-icon-servico">
                <img src="/imgs-fixas/assentar-piso.png" alt="">
            </div>
            <div class="info-principais-servico">
                <h3>Assentar Piso</h3>
                <div class="distancia-servico">
                    <span>distância</span>
                    <p>12km de você</p>
                </div>
                <button type="submit">Candidatar-se</button>
            </div>
        </div>

        <div class="input-descricao-servico">


            <div class="descricao-post">
                <label for="input" class="text">Name:</label>
                <textarea type="text" placeholder="Write here..." name="input" class="input" maxlength="300" rows="4"
                    cols="50"></textarea>
            </div>
        </div>
        <hr>
        <div class="footer-servico">
            <p>Valor: R$150,00</p>
            <p>Prazo: A combinar</p>
        </div>
        <h4>Rua dos bobos, nº 0 - Jd Tinha nada</h4>

    </form>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Minha proposta</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/postar-servico" method="POST">

                        <label for="cep">CEP:</label>
                        <input type="text" id="cep" name="cep" disabled value="02976000">

                        <label for="tipo_servico">Tipo de Serviço:</label>
                        <select id="tipo_servico" name="tipo_servico" required>
                            <% tipos_servicos.forEach(servico => { %>
                                <option value="<%= servico.id %>"><%= servico.nome_servico %></option>
                            <% }); %>
                        </select>

                        <label for="prazo_combinar">Prazo a Combinar:</label>
                        <input type="text" id="prazo_combinar" name="prazo_combinar" required>

                        <label for="valor">Valor:</label>
                        <input type="number" id="valor" name="valor" required>

                        <label for="descricao">Descrição:</label>
                        <textarea id="descricao" name="descricao" required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</body>

</html>