<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css">

    <!-- Demo styles -->
    <style>
        /* html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    } */

        /* .swiper {
      width: 100%;
      height: 100%;
    } */

        /* .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    } */

        
    </style>
</head>

<body>
    <!-- Swiper -->
    <div class="swiper mySwiper banners-lojas-parceiros">
        <div class="swiper-wrapper">
            <div class="swiper-slide banner-loja-fundo">
                <div class="banner-loja-parceira">
                    <img src="imgs-fixas/lojaparceira1.png" alt="">
                    <div class="info-loja-parceira">
                        <h4>CEDRAL COMERCIAL</h4>
                        <p>Av. Benedito Andrade, 503 - Pirituba Vila Pereira Barreto, S達o Paulo, Brazil</p>
                        <p>www.cedralcomercial.com.br</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide banner-loja-fundo">
                <div class="banner-loja-parceira">
                    <img src="imgs-fixas/lojaparceira1.png" alt="">
                    <div class="info-loja-parceira">
                        <h4>CEDRAL COMERCIAL</h4>
                        <p>Av. Benedito Andrade, 503 - Pirituba Vila Pereira Barreto, S達o Paulo, Brazil</p>
                        <p>www.cedralcomercial.com.br</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide banner-loja-fundo">
                <div class="banner-loja-parceira">
                    <img src="imgs-fixas/lojaparceira1.png" alt="">
                    <div class="info-loja-parceira">
                        <h4>CEDRAL COMERCIAL</h4>
                        <p>Av. Benedito Andrade, 503 - Pirituba Vila Pereira Barreto, S達o Paulo, Brazil</p>
                        <p>www.cedralcomercial.com.br</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide banner-loja-fundo">
                <div class="banner-loja-parceira">
                    <img src="imgs-fixas/lojaparceira1.png" alt="">
                    <div class="info-loja-parceira">
                        <h4>CEDRAL COMERCIAL</h4>
                        <p>Av. Benedito Andrade, 503 - Pirituba Vila Pereira Barreto, S達o Paulo, Brazil</p>
                        <p>www.cedralcomercial.com.br</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: "auto",
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
</body>

</html>