<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Foto de Perfil</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/fa60e4fa16.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <h2>teste card</h2>
    <a href="/.sobre-nos">Ir pra lá</a>

    <form class="super-container">
        <div class="container-servico-top">
            <div class="background-icon-servico">
                <img src="/imgs-fixas/assentar-piso.png" alt="">
            </div>
            <div class="info-principais-servico">
                <h3>Assentar Piso</h3>
                <div class="distancia-servico">
                    <span>distância</span>
                    <p>12km de você</p>
                </div>
                <button type="submit">Candidatar-se</button>
            </div>
        </div>

        <div class="input-descricao-servico">
            

            <div class="descricao-post">
                <label for="input" class="text">Name:</label>
                <textarea type="text" placeholder="Write here..." name="input" class="input" maxlength="300" rows="4" cols="50"></textarea>
            </div>
        </div>
        <hr>
        <div class="footer-servico">
            <p>Valor: R$150,00</p>
            <p>Prazo: A combinar</p>
        </div>
        <h4 >Rua dos bobos, nº 0 - Jd Tinha nada</h4>

    </form>
   

</body>
</html>
