<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Foto de Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/fa60e4fa16.js" crossorigin="anonymous"></script>

</head>

<body>
    <h2>teste card</h2>
    <!-- <a href="/#sobre-nos">Ir pra lá</a>

    <form class="super-container">
        <div class="container-servico-top">
            <div class="background-icon-servico">
                <img src="/imgs-fixas/assentar-piso.png" alt="">
            </div>
            <div class="info-principais-servico">
                <h3>Assentar Piso</h3>
                <div class="distancia-servico">
                    <span>distância</span>
                    <p>12km de você</p>
                </div>
                <button type="submit">Candidatar-se</button>
            </div>
        </div>

        <div class="input-descricao-servico">


            <div class="descricao-post">
                <label for="input" class="text">Name:</label>
                <textarea type="text" placeholder="Write here..." name="input" class="input" maxlength="300" rows="4"
                    cols="50"></textarea>
            </div>
        </div>
        <hr>
        <div class="footer-servico">
            <p>Valor: R$150,00</p>
            <p>Prazo: A combinar</p>
        </div>
        <h4>Rua dos bobos, nº 0 - Jd Tinha nada</h4>

    </form> -->


    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button> -->

    <button id="fazer-proposta" type="button" class="btn btn-primary btn-fazer-proposta">Fazer Proposta</button>

    <!-- Modal -->
    <div class="modal-cards" id="modal-cards-proposta">
        <div class="modal-cards-close" id="modal-cards-close-btn">&times;</div>
        <div class="modal-cards-content" id="modal-cards-proposta">
            <hr>
            <h3 class="modal-cards-title">Minha Proposta</h3>

            <!-- Formulário adaptado com as classes específicas -->
            <form action="/postar-servico" method="POST" class="modal-cards-form">
                <div class="modal-cards-input-control">
                    <label for="tipo_servico" class="modal-cards-label">Tipo de Serviço:</label>
                    <select id="tipo_servico" name="tipo_servico" required class="modal-cards-select">
                        <option value="1">Instalação de Ar-Condicionado</option>
                    </select>
                </div>


                <div class="modal-cards-input-control">
                    <label for="cep" class="modal-cards-label">CEP:</label>
                    <input type="text" id="cep" name="cep" class="modal-cards-input">
                </div>

                <div class="organizador-modal">
                    <div class="modal-cards-input-control">
                        <label for="prazo_combinar" class="modal-cards-label">Prazo</label>
                        <input type="text" id="prazo_combinar" name="prazo_combinar" required class="modal-cards-input">
                    </div>


                    <div class="modal-cards-input-control">
                        <label for="valor" class="modal-cards-label">Valor:</label>
                        <input type="number" id="valor" name="valor" required class="modal-cards-input"
                            placeholder="Ex: 100,00 ou A combinar">
                    </div>

                </div>

                <div class="modal-cards-input-control">
                    <label for="descricao" class="modal-cards-label">Descrição:</label>
                    <textarea id="descricao" name="descricao" required class="modal-cards-textarea"
                        placeholder="Descreva brevemente o serviço"></textarea>
                </div>

                <div class="modal-cards-footer">
                    <button type="submit" class="modal-cards-btn modal-cards-btn-submit">Postar Serviço</button>
                </div>
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script src="/js/script.js" defer></script>

</body>

</html>