@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'swiper/swiper-bundle.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* box-sizing: border-box;
  margin: 0; */
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  margin: 0;
}

header {
  width: 100%;
  background-color: white;
  padding: 10px;

}

h2 {
  font-size: 1.4em;
}

/* ######################################################################################## */
/* Header */

.global-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 2%;

}

.logo-header {
  max-width: 100px;
  width: 100%;
}

.conexao-global {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: .9em;

  span a {
    font-weight: 600;
    text-decoration: none;
  }

  ;

  button {
    background-color: #FE8813;
    transition: 0.15s ease;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;

    a {
      color: white;
      text-decoration: none;
    }
  }

  button:hover {
    background-color: #b45d05;
  }
}

.banner-index {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2%;
  background-image: url(../imgs-fixas/pexels-olly-3772616.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #020411, #FE8813);
  border-image-slice: 1;

  h1 {
    font-size: clamp(16px, 5vw, 30px);
    margin: 0;

    span {
      color: #FE8813;
      font-weight: 700;
    }
  }

  ;

  h2 {
    font-size: clamp(14px, 3vw, 20px);
    font-weight: 700;
    margin: 0;
  }

  ;

}

/* ########################################################################### */
/* Seção de Buscar */

.buscador {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-inputs {

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 40px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  label {
    position: relative;
  }
}

.radio-inputs>* {
  margin: 6px;
}


.servicos:checked+.radio-tile {
  border-color: #020411;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #020411;
}

.servicos:checked+.radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #020411;
  border-color: #020411;
}


.servicos:checked+.radio-tile .radio-label {
  color: #020411;
}

.servicos:focus+.radio-tile {
  background-color: #020411;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #020411;
}

.servicos:checked+.radio-tile {
  background-color: #020411;
  border-color: #fff;
  color: #fff
}

.servicos:focus+.radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
  color: #020411;
  font-weight: 500;
  font-size: clamp(12px, 3vw, 15px);
}

.servicos:hover {
  border-color: #020411;
}


.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form-buscar-index {
  margin: 10px auto;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  /* position: relative; */

  input {
    width: 90%;
    max-width: 250px;
    border-radius: 5px;
    border: 2px solid #020411;
    height: 40px;
    text-indent: 10px;
  }

  ;

  h2 {
    font-size: clamp(16px, 4vw, 20px);
    margin: 0;
  }

}

.botoes-buscar {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  button {
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px 20px;
    width: 170px;
    height: 40px;
  }

  #btn-buscar-servico {
    background-color: #FE8813;
    transition: 0.15s ease;
    margin: 5px
  }

  ;

  #btn-buscar-servico:hover {
    background-color: #b45d05;
  }

  #btn-buscar-pedreiro {
    background-color: #020411;
    transition: 0.15s ease;
  }

  #btn-buscar-pedreiro:hover {
    background-color: #0c1133;
  }
}

.swiper-slide {
  margin-right: 10px !important;
}

/* ########################################################################################*/
/* Seção modal */

.modal-cards-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);  
  backdrop-filter: blur(8px);  
  z-index: 2;
  display: none; 
}

.modal-cards {
  position: fixed;
  z-index: 2;  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  width: 80%; 
  max-width: 400px;  
  height: auto;  
  background-color: white;
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  
  display: none;
}

.modal-cards-close {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-cards-content {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  hr{
    width: 40%;
    height: 4px;
    background-color: #FE8813;
    opacity: .8;
    border: none;
    margin: 10px 0;
  }
  h3{
    margin: 5px 0;
  }
}

.modal-cards-title {
  color: #020411;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-cards-form {
  width: 100%;
}

.modal-cards-input-control {
  margin-bottom: 15px;
  width: 100%;
  /* max-width: 250px; */
}

.modal-cards-label {
  font-size: 1rem;
  color: #020411;
  font-weight: 600;
  position: relative;
  top: 0.8rem;
  margin: 0 0 0 7px;
  padding: 0 5px;
  background: #ffffff;
  width: fit-content;
}

.modal-cards-input,
.modal-cards-select,
.modal-cards-textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.modal-cards-textarea {
  resize: vertical;
  min-height: 100px;
}

.modal-cards-btn {
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

.modal-cards-btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.modal-cards-footer {
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

.organizador-modal{
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}


/* ####################################################################################### */
/* Seção Instituições */

.instituicoes-parceiras {
  margin: 50px auto;
}

.container-parceiros {
  margin: 0 auto;
  display: flex;

  .swiper-pagination-bullet {
    background-color: #020411 !important;
  }

  ;

}

.chamada-institu-parceiras {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5%;

  h2 {
    font-size: clamp(20px, 4vw, 30px);
    margin: 0;
    /* text-align: center; */
    color: #020411;
  }

  ;

  p {
    font-size: clamp(14px, 3vw, 20px);
    color: #020411;
    margin: 10px 0 0 0;
  }
}

.banner-institu-parceira {
  position: relative;
  width: 350px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.767), 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin: 10px;
}

.banner-institu-parceira img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.info-institu-parceira {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #020411ef, transparent);
  color: white;

  h4 {
    margin: 0;
    /* font-size: clamp(16px, 3.5vw, 20px); */
  }

  ;

  .card-content p {
    margin: 5px 0;
    font-size: clamp(10px, 1vw, 12px);
  }

  ;
}

.btn-institu {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 15px;
  background-color: #020411;
  color: white;
  text-decoration: none;
  font-size: clamp(10px, 1.5vw, 14px);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.767), 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.btn-institu:hover {
  background-color: #0c1133;
  text-decoration: none;
  color: white;
}

/* ####################################################################################### */
/* Seção de Premium */

.vantagens-premium {
  background-color: #020411;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 40px 2%;
  margin: 50px 0;
  gap: 40px 0;

  h2 {
    margin: 0;
    width: 100%;
    font-size: clamp(16px, 4vw, 30px);
    text-align: center;
  }
}

.vantagem-premium {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;

  img {
    width: 100%;
    max-width: 60px;
    height: 100%;
  }

}

.explicacao-premium {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  h4,
  p {
    margin: 0;
    font-size: clamp(10px, 3vw, 20px);
  }
}

/* ################################################################################# */
/* Lojas parceiras */

.banners-lojas-parceiros {
  margin: 50px auto;

  .swiper-pagination-bullet {
    background-color: #FE8813 !important;
  }
}

.banner-loja-fundo {
  background: linear-gradient(270deg, #020411, #FE8813);
  padding: 4px;
  border-radius: 20px;
  width: fit-content;
  margin: 0 10px;
}

.banner-loja-parceira {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 300px;
  height: 140px;
  padding: 15px;
  gap: 0 20px;
  border-radius: 20px;
  background-color: white;

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.info-loja-parceira {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  color: #020411;

  h4,
  p {
    margin: 0;
  }

  p {
    font-size: clamp(10px, 2vw, 14px);
  }

  h4 {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 600;
    color: #FE8813;
    margin-bottom: 5px;
  }
}

.swiper-slide img {
  display: block;
}

.swiper-slide {
  /* height: fit-content; */
  width: fit-content !important;
}

.swiper-pagination {
  position: static !important;
}



/* .swiper-horizontal{
  margin-right: 20px !important;
} */

/* ############################################################################################# */
/* Sobre Nós */
.sobre-nos {
  margin: 50px auto;
  padding: 10px 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: #FE8813;
    font-weight: 600;
    text-align: center;
    font-size: clamp(16px, 5vw, 25px);
    margin: 30px 0;
  }
}

.sobre-nos-carrossel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.sobre-nos-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;

  h2,
  p {
    font-size: clamp(14px, 3vw, 16px);
    color: #020411;
    text-align: center
  }

  ;

}

.sobre-nos-icones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  img {
    width: 100%;
    max-width: 50px;
  }
}

/* ######################################################################################################### */
/* Footer */

footer {
  background-color: #020411;
  color: white !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h5,
  p {
    margin: 0;
  }
}

.info-contato-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
  margin: 20px auto;
}

.redes-sociais-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10%;

  a img {
    width: 50px;
  }
}


/* ################################################################################# */
/* Cadastro */

.tipo-cadastro {
  display: flex;
  gap: 10px;
}

#btnPedreiro,
#btnContratante {
  background-color: #020411;
}

#btnPedreiro:focus,
#btnContratante:focus {
  outline: none;
}

#cadastroInicio {
  width: 100%;
}

#servicosContainer {
  overflow-y: auto;
  height: 400px;
  padding: 10px;

  h3 {
    font-size: clamp(14px, 2vw, 16px);
    text-align: left;
    margin-bottom: 15px;

    span {
      font-size: clamp(12px, 1vw, 14px);
      font-style: italic;

    }
  }

  ;

}

#servicosContainer {
  scrollbar-width: 10px;
  /* Para Firefox */
  scrollbar-color: #020411 #fff;
  /* Botão e fundo */
  /* Arredondar bordas */
}

.cadastro-pedreiro-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cadastro-pedreiro-checkbox input[type="checkbox"] {
  display: none;
  /* Esconde o checkbox */
}

.cadastro-pedreiro-checkbox label {
  display: flex;
  align-items: center;
  /* padding: 10px 20px; */
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
  border: 2px solid #020411;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cadastro-pedreiro-checkbox .icone-servico {

  background-color: #020411;
  transition: background-color 0.3s ease;
  width: 35%;
  height: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 50px;
    height: auto;
    object-fit: cover;
  }
}

.info-servicos-cadastro {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #020411;
  padding: 5px 10px;

  p {
    margin: 0;
    font-size: clamp(10px, 1vw, 12px);
    text-align: left
  }

  ;

  span {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 700;
    text-align: left;
  }
}

.cadastro-pedreiro-checkbox input[type="checkbox"]:checked+label {
  /* background-color: #FE8813; */
  border-color: #FE8813;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
}

.cadastro-pedreiro-checkbox input[type="checkbox"]:checked+label .icone-servico {
  background-color: #FE8813;
}



/* ############################################################################## */
/* Login */


.main-login-cad {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin: 10px auto;
  max-width: 720px;
  min-height: 100vh;
}

.banner-login {
  width: fit-content;
  max-width: 350px;
  padding: 0 10px;

  h1 {
    width: fit-content;
    margin: auto;
  }

  h3 {
    font-size: 1.3em;
  }
}

.login-container {
  width: 100%;
  max-width: 350px;

  background-color: white;
  border-radius: 5px;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  text-align: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 0;

  h1 {
    font-size: 1.5em;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}

.input-control-login, .modal-cards-input-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: static;
  /* margin-bottom: 15px;  */
}

.input-control-login label.text {
  font-size: .9rem;
  color: #020411;
  font-weight: 600;
  position: relative;
  top: 0.8rem;
  margin: 0 0 0 7px;
  padding: 0 5px;
  background: #ffffff;
  width: fit-content;
}

.input-control-login input[type=text].input,
.input-control-login input[type=password].input,
.modal-cards-input-control textarea.modal-cards-textarea, .modal-cards-input, .modal-cards-select{
  padding: 12px 10px;
  font-size: 1rem;
  border: 2px #020411 solid;
  border-radius: 5px;
  background: #ffffff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-control-login input[type=text].input:focus,
.input-control-login input[type=password].input:focus, .modal-cards-input-control textarea.modal-cards-textarea:focus, .modal-cards-input:focus, .modal-cards-select:focus {
  outline: none;
  border-color: #020411;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.manter-conectado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  gap: 30px;

  a {
    font-size: .9em;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: #020411;
  }
}

.manter-conectado div {
  display: flex;
  align-items: center;

  label {
    font-size: .9em;
    margin: 0;
    font-weight: 600;
  }
}

.manter-conectado input {
  margin-right: 5px;
}

.botao-entrar, .modal-cards-btn {
  width: 100%;
  padding: 10px;
  background-color: #FE8813;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-entrar:hover {
  background-color: #ff8c00;
}

.outras-acoes-login {
  display: block;
  margin-top: 15px;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
  color: #FE8813;
}

.pedreiro-login,
.contratante-login {
  position: absolute;
  height: 70%;
  bottom: 0;
  object-fit: cover;
  /* Impede distorção */
  /* width: 50vw; */
  /* Cada imagem ocupa metade da largura da viewport */
  display: none;
  /* Oculta em telas menores */
}

.pedreiro-login {
  left: 0;
  /* object-position: left; */
  /* Centraliza a imagem na metade esquerda */
}

.contratante-login {
  right: 0px;
  /* object-position: right; */
  /* Centraliza a imagem na metade direita */
}

/* ###########################################################################################*/
/* Perfil */

.main-perfil{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  
}

.container-container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 30px 0;
  margin: 10px;
  background-color: #020411;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  height: 100%;
}

.container-perfil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2,
  p {
    color: white;
  }
}

.foto-perfil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: fit-content;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.upload-icon {
  position: absolute;
  bottom: -3px;
  right: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.upload-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-perfil {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.container-categorias-perfil {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.categorias-botoes {
  display: flex;
  width: 100%;
  max-width: 350px;
  /* gap: 20px; */
  align-items: center;
  justify-content: space-around;
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);

  i {
    font-size: 28px;
    margin: 10px 5px;
    color: #020411;
  }

  p {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 600;
    color: #020411;
    text-align: center;
    margin: 0;
  }

  ;

  .radio-categoria {
    width: fit-content;
    height: fit-content;
  }
}

.categoria-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.meu-perfil{
  display: flex;
  padding: 20px;
  gap: 30px;
  width: fit-content;
  height: fit-content;
}

.config-perfil, .excluir-perfil{
  display: flexbox;
  grid-column: 1fr 1fr;
  flex: grow 2;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 170px;
  /* max-height: 200px; */
}

.texto-config-perfil{
  width: 100%;
  height: 100px;
}

.banners-perfil{
  width: 100%;
}


/* ################################################################################################## */
/* Servicos */
/* Postagens */

.super-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  max-width: 320px;
  height: 480px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);

  h4 {
    font-size: clamp(14px, 2vw, 18px);
  }

  hr {
    width: 70%;
    border: 1px solid #FE8813;
    margin: 25px auto;
  }

  h3 {
    font-size: clamp(20px, 4vw, 25px);
    color: #020411;
    font-weight: 600;
    margin: 5px 0;
    text-align: center;
  }

}

.container-servico-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 120px;
}

.background-icon-servico {
  background-color: #020411;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 100%;

  img {
    width: 100%;
    max-width: 80px;
    height: auto;
    object-fit: cover;
  }
}

.info-principais-servico {

  width: 100%;
  height: 100%;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 15px;

  .distancia-servico {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fe891367;
    padding: 5px 0;
    border-radius: 5px;

    span {
      font-size: clamp (10px, 2vw, 14px);
      font-weight: 600;
    }

    p {
      margin: 0;
    }
  }

  button {
    background-color: #FE8813;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 0;
    width: 100%;
  }


}

.descricao-post {
  display: flex;
  flex-direction: column;
  position: static;
}

.descricao-post label.text {
  font-size: 0.75rem;
  color: #020411;
  font-weight: 700;
  position: relative;
  top: 0.6rem;
  margin: 0;
  padding: 0 3px;
  background: #fff;
  width: fit-content;
}

.descricao-post textarea[type=text].input {
  padding: 11px 10px;
  font-size: clamp(12px, 2vw, 14px);
  border: none;
  border-top: 2px #020411 solid;
  /* border-radius: 5px; */
  background: #fff;
  width: 100%;
}

.descricao-post textarea[type=text].input:focus {
  outline: none;
}

.footer-servico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  p {
    font-weight: bold;
    font-size: clamp(14px, 2vw, 14px);
  }

}

.resultado-busca {
  width: 100%;
  margin: auto;
  display: none;
  opacity: 0;
  transform: translateX(100%);
  /* Começa fora da tela à direita */
  transition: transform 0.5s ease, opacity 0.5s ease;

  .card-resultado-busca {
    padding: 10px;
  }

}

.resultado-busca.animate-slide-in {
  transform: translateX(0);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
  /* 1 segundo para a animação */
}

/* From Uiverse.io by vinodjangid07 */
.loader {
  width: fit-content;
  height: fit-content;
  margin: 50px 0;
  align-items: center;
  justify-content: center;
  display: none;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.show-loader {
  display: flex;
  /* Exibe o loader */
  opacity: 1;
  /* Torna visível */
}

.wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.catbody {
  width: 80px;
}

.tail {
  position: absolute;
  width: 17px;
  top: 50%;
  animation: tail 0.5s ease-in infinite alternate-reverse;
  transform-origin: top;
}

@keyframes tail {
  0% {
    transform: rotateZ(60deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-20deg);
  }
}

.wall {
  width: 300px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 50px;
  position: absolute;
  margin: 0px 0px 100px 120px;
}

.zzz {
  color: black;
  font-weight: 700;
  font-size: 15px;
  animation: zzz 2s linear infinite;
}

.bigzzz {
  color: black;
  font-weight: 700;
  font-size: 25px;
  margin-left: 10px;
  animation: zzz 2.3s linear infinite;
}

@keyframes zzz {
  0% {
    color: transparent;
  }

  50% {
    color: black;
  }

  100% {
    color: transparent;
  }
}



/* ############################################################################################# */
/* Media Query */

@media screen and (min-width: 725px) {
  .banner-index {
    background-image: url(../imgs-fixas/banner-topo-grande.jpg);
    /* height: 100vh; */
  }

  .banner-loja-parceira {
    max-width: 350px;
  }
}


/* Alinhamento flexível dos elementos em resoluções menores */
/* .buscador>* {
  flex: 1 1 100%;
} */


@media screen and (min-width: 1400px) {

  .pedreiro-login,
  .contratante-login {
    display: block;
    /* Exibe as imagens a partir de 1000px */
  }
}